@font-face {
    font-family:"Pretendard";
    font-weight: 300;
    src: url(../fonts/Pretendard-Light.otf);
}
@font-face {
    font-family:"Pretendard";
    font-weight: 400;
    src: url(../fonts/Pretendard-Medium.otf);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: url(../fonts/Pretendard-Regular.otf);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: url(../fonts/Pretendard-Bold.otf);
}
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: url(../fonts/Pretendard-ExtraBold.otf);
}